div{
    width: 200px;
    height: 200px;
    background-color: #999;
    margin: 50px auto;
    box-shadow: 0px 0px 0px 5px #ccc, 0 0 0 10px #eee;
    transition: 0.2s;
}
div:hover{
    box-shadow: 0px 10px 5px -5px #ccc;
    margin-top: 45px;
}