/* animation 
[name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode] [play-state]
*/
.kotak {
    width: 200px;
    height: 200px;
    background-color: #eee;
    /* animation: animasiKotak 2s ease 3 alternate;
    animation: animasiKotak 2s ease infinite;
    animation: animasiKotak 2s ease 3 alternate;
    animation: animasiKotak 2s ease 3 alternate forwards;
    animation: animasiKotak 2s ease 3 alternate backwards;
    animation: animasiKotak 2s ease 3 alternate both;
    animation: animasiKotak 2s ease 3 alternate none;
    animation: animasiKotak 3s ease infinite backwards running;
    animation: animasiKotak 2s ease 4 alternate forwards; */
    box-shadow: 10px 10px 20px #ccc;
}

@keyframes animasiKotak {
    0% {
        width: 200px;
    }

    50% {
        width: 500px;
        height: 200px;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}